header.header
   .navigation
    a.link__nav_logo 
     img.logo(src="img/common/header/logos.svg", alt="")
     img.name__logo(src="img/common/header/Waxom.svg", alt="")
    ul.nav__list#class__list-nav
     li.nav__list_item Home
     li.nav__list_item About Us
     li.nav__list_item Portfolio
     li.nav__list_item Features
     li.nav__list_item Blog
     li.nav__list_item Pricing
     li.nav__list_item Shortcodes
     li.nav__list_item Contact
    .card_and_search
     img.cart(src="img/common/header/icon-cart.png", alt="cart")
     img.search(src="img/common/header/icon-search.png", alt="search")
   #burger-menu  
   .header__common_text
      p.header__header-text Unique and Modern Design
      p.header__header-portfolio Portfolio PSD Template
      p.header__header-describe Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
      a.btn Get Started

   .header__block-slide
      img.left_slide(src="../img/common/header/left.png", alt="")
      img.right_slide(src="../img/common/header/right.png", alt="")
 
   form.header__radiobtn
    input.radio(
    type="radio"
    name="radio"
    value = "1"
    checked
    )

    input.radio(
    type="radio"
    name="radio"
    value = "2"
    )
    input.radio(
    type="radio"
    name="radio"
    value = "3"
    )
    input.radio(
    type="radio"
    name="radio"
    value = "4"
    )
    input.radio(
    type="radio"
    name="radio"
    value = "5"
    )
  



